@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Roboto&display=swap');

@font-face {
  font-family: 'Bahnschrift';
  src: url(/static/font/bahnschrift.ttf);
}

html {
  --primary: #5cb0c8;
  --secondary: #6ed2ef;
  --background: #fff;
  --text: #708090;
  --theme-transition: ease-in-out .3s;
}

html.dark {
  --primary: #5cb0c8;
  --secondary: #6ed2ef;
  --background: #39434D;
  --text: #708090;
}

/*************/
/* CSS RESET */
/*************/

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: none;
}

body {
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  background: var(--background);
  color: var(--text);
  position: relative;
  scroll-behavior: smooth;
  transition: background-color var(--theme-transition);
}

html.dark body {
  color: var(--primary);
}

h1, h2, h3, h4, h5, h6, .landing-title {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 100px;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, input::placeholder, textarea, textarea::placeholder {
  color: inherit;
  background: inherit;
  font: inherit;
  border: none;
}

html.dark input, html.dark input::placeholder, html.dark textarea, html.dark textarea::placeholder {
  color: var(--text);
}

input:focus, textarea:focus {
	outline: none;
}

fieldset {
  border: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

.full-screen {
  min-height: 100vh;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 15px;
  }

  h2 {
    font-size: 20vw;
  }
}

/*****************/
/* END CSS RESET */
/*****************/

/***********/
/* CURSORS */
/***********/

#cursor {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid var(--primary);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
}

html.dark #cursor {
  border-color: var(--secondary);
}

#cursor::after {
  content: '';
  background: none;
}

#cursor.none::after {
  content: '';
  width: 2px;
  height: 2px;
  background: var(--text);
}

#cursor.landing::after {
  content: '👋';
}

#cursor.about::after {
  content: '🤔';
}

#cursor.skills::after {
  content: '💪';
}

#cursor.portfolio::after {
  content: '👷';
}

#cursor.contact::after {
  content: '📝';
}

/***************/
/* END CURSORS */
/***************/

/*********/
/* THEME */
/*********/

#theme {
  position: fixed;
  top: 25px;
  right: 25px;
  transition: all ease-in-out .3s;
  font-size: 30px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#theme:hover {
  transform: scale(1.8);
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*************/
/* END THEME */
/*************/

/************/
/* SECTIONS */
/************/

.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****************/
/* END SECTIONS */
/****************/

/***********/
/* LANDING */
/***********/

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-35deg);
  }
  85% {
    transform: rotate(380deg);
  }
  90% {
    transform: rotate(350deg);
  }
  95% {
    transform: rotate(365deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spinning 5s infinite ease-in-out;
  display: inline-block;
}

#landing {
  padding: 25px;
  width: 100%;
  position: relative;
}

.landing-title {
  font-size: 150px;
  color: var(--primary);
  position: relative;
  text-align: center;
}

.landing-title::after {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--background);
  position: absolute;
  right: 0;
  top: 0;
  transition: width 1.5s ease-in-out, background-color var(--theme-transition);
}

.landing-title.loaded::after {
  width: 0;
}

#scroll {
  width: 50px;
  height: 50px;
  border: 3px solid var(--primary);
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll::before, #scroll::after {
  content: '';
  width: 20px;
  height: 3px;
  background: var(--primary);
  position: absolute;
  transform-origin: center;
}

#scroll::before {
  transform: rotate(45deg);
  left: 6px;
}

#scroll::after {
  transform: rotate(-45deg);
  right: 6px;
}

@media screen and (max-width: 400px) {
  .landing-title {
    font-size: 35vw;
  }
}

/***************/
/* END LANDING */
/***************/

/*********/
/* ABOUT */
/*********/

#about {
  padding: 50px 25px;
  margin: 0 25px;
  border-radius: 25px;
  background: var(--secondary);
  color: var(--background);
  width: 100%;
}

html.dark #about {
  background: var(--primary);
}

#about p {
  margin: 10px 0;
}

#about a {
  font-weight: bold;
  position: relative;
}

#about a::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  background: var(--background);
  transition: width ease-in-out .3s;
}

#about a:hover::after {
  width: 100%;
}

/*************/
/* END ABOUT */
/*************/

/*************/
/* PORTFOLIO */
/*************/

#portfolio {
  padding: 25px;
  width: 100%;
  margin-top: 500px;
}

.projects {
  margin-top: 50px;
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project {
  padding: 25px;
  max-width: 300px;
  background: var(--primary);
  color: var(--background);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
}

.details {
  padding: 35px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .85);
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out .3s;
  z-index: 9;
}

.details li::before {
  content: '- ';
}

html.dark .details {
  background: rgba(255, 255, 255, .9);
}

.project:hover .details {
  opacity: 1;
  visibility: visible;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.links a {
  position: relative;
  align-self: flex-start;
}

.links span, .links a {
  margin-top: 25px;
}

.links a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width ease-in-out .3s;
}

.links a:hover::after {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .projects {
    flex-direction: column;
  }

  .project {
    margin-bottom: 50px;
  }
}

/*****************/
/* END PORTFOLIO */
/************¨****/

/***********/
/* CONTACT */
/***********/

#contact {
  width: 100%;
  margin-top: 500px;
  padding: 25px;
}

.contact-links {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}

form {
  width: 100%;
  max-width: 700px;
}

input, textarea {
  width: 100%;
  padding: 5px 0;
  border-bottom: 2px solid var(--text);
  transition: border ease-in-out .3s;
}

input:focus, textarea:focus {
  border-color: var(--secondary);
}

label {
  font-weight: bold;
}

.field {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.send-message {
  margin-top: 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

#send {
  padding: 10px 20px;
  width: 200px;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  color: var(--background);
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .3s;
}

#send:hover {
  background: var(--background);
  color: var(--secondary);
}

#send.loading {
  pointer-events: none;
}

#send::after {
  content: '⌛';
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  transition: all ease-in-out .3s;
}

#send.loading::after {
  animation: loading 2s infinite ease-in-out;
  opacity: 1;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  background: var(--background);
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .2s;
}

#loading.loading {
  pointer-events: all;
  opacity: 1;
}

#loading.loading > span {
  animation: loading infinite ease-in-out 2s;
}

.message-sent {
  margin-top: 20px;
  justify-self: flex-start;
  transition: all ease-in-out .3s;
}

.message-sent.hide {
  opacity: 0;
  visibility: hidden;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

@media screen and (max-width: 400px) {
  #send {
    width: 100%;
  }
}

/***************/
/* END CONTACT */
/***************/